/*  your css code here. If applicable */
body { margin:0; font-family:poppins; font-size:13px; background-color:#cbd6cb;}
.main { width:1100px; }
.imageContainer { margin:0; }
.imageContainer img { width:1000px; height:500px;}
.content table td img{ text-align:center; width:200px; height:200px; }
table td { padding:10px;}